################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs

# Local Wrangler secrets
.dev.vars
.wrangler/
